/* :root {
 
  --main-font: Roboto, sans-serif;
  --secondary-font: raleway, sans-serif;

  
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --gray-txt-cl: #757575;
  --white-txt-cl: #ffffff;

  
  --main-bg-cl: #2f303a;
  --hader-bg-cl: #ffffff; 
  
  
  }*/

/* body */

/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin-bottom: -1px;
} */

/* .page {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
} */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
} */

/* .header {
  background-color: var(--hader-bg-cl);
  border-bottom: 1px solid #ececec;
}

.header-container {
  width: 1200px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
} */

/* .logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  justify-content: flex-start;
  margin-right: 93px;
}
.logo-header {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #2196f3;
} */

/* .main-nav {
  margin-right: auto;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav-list,
.contacts-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  padding: 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link,
.contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-txt-cl);
}

.nav-link-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--accent-txt-cl);
}

.nav-list-item {
  position: relative;
}

.nav-link-studio::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  background-color: #2196f3;
  border-radius: 2px;
} */

/* .contacts-list {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--gray-txt-cl);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .icon-header,
  &:focus .icon-header {
    fill: var(--accent-txt-cl);
  }

  &:hover,
  &:focus {
  color: var(--accent-txt-cl);
}
}

.icon-header {
  margin-right: 10px;
  justify-content: center;
  justify-content: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* main */

/* .hat {
  background-color: var(--main-bg-cl);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(..//image/hat/hat-bg-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hat__title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-txt-cl);
  width: 696px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hat__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-txt-cl);
  background-color: var(--accent-txt-cl);
  cursor: pointer;
  padding-top: 7px;
  padding-right: 25px;
  padding-bottom: 7px;
  padding-left: 25px;
  border: none;
  border-radius: 4px;
} */

/* .characteristic {
  padding-top: 94px;
  padding-bottom: 94px;
}

.characteristic__title {
  display: none;
}

.characteristic__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 30px;
}

.characteristic__list-item {
  width: 270px;
}

.characteristic__list-icon {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.characteristic__undertitle {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.characteristic__subtitle {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--gray-txt-cl);
  margin: 0;
} */

/* .work {
  padding-bottom: 94px;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 50px;
}

.work__list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.work__thumb {
  position: relative;
}

.work__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__overlay-desc {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.work__jpg {
  display: block;
} */

/* .team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 50px;
}

.team__list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.team__list-item {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(175, 177, 184, 1);
}

.team__text-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.team__position {
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray-txt-cl);
  margin: 0;
  margin-bottom: 16px;
}

.team__socials {
  padding: 0;
  display: flex;
  list-style: none;
  gap: 10px;
  justify-content: center;
}

.socials__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .team__icon,
  &:focus .team__icon {
  fill: #ffffff;
}

&:hover,
&:focus {
  background-color: var(--accent-txt-cl);
}
}

.team__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .сlients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.clients__list {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.clients__icon-link {
  display: block;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .clients__icon,
  &:focus .clients__icon {
    fill: var(--accent-txt-cl);
  }

  &:hover,
  &:focus {
    border-color: var(--accent-txt-cl);
  }
}

.clients__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* footer */

/* .footer {
  background-color: var(--main-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.logo-footer-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white-txt-cl);
  display: block;
  margin-bottom: 20px;
}

.footer-socials-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer-socials-list {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-socials-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-txt-cl);
  }
}

.icon-footer {
  fill: #ffffff;
} */
/* address {
  font-style: normal;
}

.address-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.address-list-item:not(:last-child) {
  margin-bottom: 10px;
}

.address-link {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--white-txt-cl);
  text-decoration: none;
}

.contacts-footer-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
} */

/* portfolio */

/* .nav-portfolio-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--accent-txt-cl);

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.list-btn {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  justify-content: center;
}

.list-btn-item:not(:last-child) {
  margin-right: 8px;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  padding-top: 6px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 6px;
  border-radius: 4px;
  border: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--accent-txt-cl);
    box-shadow: 0px 3px 3px rgba(175, 177, 184, 1);
  }
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list-item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-link {
  text-decoration: none;
  display: block;
  color: inherit;

  &:hover,
  &:focus {
    box-shadow: 1px 4px 4px rgba(175, 177, 184, 1);
  }

  &:hover .portfolio-overlay,
  &:focus .portfolio-overlay {
    transform: translateY(0);
  }
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0;
}

.portfolio-img {
  display: block;
}

.text-portfolio-card {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-name {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
}

.portfolio-product {
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--gray-txt-cl);
  margin: 0;
} */

/*  modal window */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear, transform 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateY(-100%);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;

  &:hover .modal-icon-close {
    fill: #2196f3;
  }

  &:focus .modal-icon-close {
    fill: #2196f3;
  }
}

.modal-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/*  Follow form footer */

/* .follow-form-footer {
  margin-left: 93px;
}

.follow-title-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  text-align: left;
  margin-bottom: 20px;
}

.follow-form-group {
  display: flex;
  align-items: center;
}

.follow-form-input {
  margin-right: 12px;
  padding: 15px;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ffffff4d;
  color: #ffffff99;
  background-color: #2f303a;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-form-input:focus {
  border-color: #2196f3;
}

.register-footer-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #21212133;
  background-color: #2196f3;
}

.follow-footer-icon {
  margin-left: 10px;
} */

/* register form */

/* .register-form-title {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.register-form-group {
  margin-bottom: 20px;
}

.register-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 10px;
}

.icon-checked {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-checkbox:checked + .register-icon-check .icon-checked {
  opacity: 1;
}

.icon-unchecked {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-checkbox:checked + .register-icon-check .icon-unchecked {
  opacity: 0;
}

.register-form-btn {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 200px;
  height: 50px;
  color: #ffffff;
  cursor: pointer;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 3px 3px rgba(175, 177, 184, 1);
}

.register-form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.register-form-label {
  display: block;
  font-size: 12px;
}

.register-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #21212133;
  padding-left: 42px;
  padding-right: 42px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
  border-color: #2196f3;
}

&:focus + .register-form-icon {
  fill: #2196f3;
}
}



.register-form-massage {
  display: block;
  width: 100%;
  height: 130px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid #21212133;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
  border-color: #2196f3;
}

&::placeholder {
  font-size: 14px;
}
}



.register-form-icon {
  position: absolute;
  top: 25px;
  left: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.register-form-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
  user-select: none;
}

.register-form-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
} */
