address {
    font-style: normal;
}

.address-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.address-list-item:not(:last-child) {
    margin-bottom: 10px;
}

.address-link {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--white-txt-cl);
    text-decoration: none;
}

.contacts-footer-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}