.footer {
    background-color: var(--main-bg-cl);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-section {
    display: flex;
    align-items: baseline;
}

.footer-address {
    margin-right: 70px;
}

.logo-footer-link {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--white-txt-cl);
    display: block;
    margin-bottom: 20px;
}

.footer-socials-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
}

.footer-socials-list {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-socials-link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-txt-cl);
    }

}

.icon-footer {
    fill: #ffffff;
}